<ion-view title="Allen" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="allen-heading2" style="color:#000000;text-align:center;">Details</h3>
    <div>
      <img src="img/4k8ZWmJXRVujpjdVxSHw_allen.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="allen-heading3" style="color:#000000;">Allen Soriano</h4>
    <div id="allen-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Home Address: Sto. Tomas Pampanga</p>
    </div>
    <div id="allen-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">E-mail: agerald136@gmail.com</p>
    </div>
    <button id="allen-button1" class="button button-positive button-block">Back</button>
  </ion-content>
</ion-view>