<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading1" style="color:#000000;text-align:center;">Contacts</h2>
    <form id="home-form2" class="list">
      <label class="item item-input" id="home-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar item-icon-right dark" id="home-list-item9" ui-sref="allen()">
        <img src="img/rX3jIMYCQqub5NUncyH1_allen.jpg">
        <h2dark>Allen Soriano
          <p>09560692018</p>
          <i class="icon ion-ios-telephone-outline"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="home-list-item11" ui-sref="carlo()">
        <img src="img/eojZ69qdR5SqLs0DPwSA_carlo.jpg">
        <h2dark>Carlo Cortez
          <p>09175071137</p>
          <i class="icon ion-ios-telephone-outline"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="home-list-item12" ui-sref="aldrin()">
        <img src="img/S9NBeFfNQca0XRYnlUMT_aldrin.jpg">
        <h2dark>Aldrin Bondoc
          <p>09175071137</p>
          <i class="icon ion-ios-telephone-outline"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="home-list-item13" ui-sref="lois()">
        <img src="img/S7Xz4y0TQTWOQrM5Iv7W_lois.jpg">
        <h2dark>Lois Pamintuan
          <p>09270125582</p>
          <i class="icon ion-ios-telephone-outline"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right dark" id="home-list-item14" ui-sref="jeno()">
        <img src="img/ikdZ7LnrTR2A9JOoWaSC_jeno.jpg">
        <h2dark>Rance Jeno
          <p>09057853018</p>
          <i class="icon ion-ios-telephone-outline"></i>
        </h2dark>
      </ion-item>
    </form>
  </ion-content>
</ion-view>