<ion-view title="Jeno" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/MVsF4pK7Q7G2FRRrZMPg_jeno.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="jeno-heading12" style="color:#000000;text-align:center;">Details</h3>
    <h4 id="jeno-heading13" style="color:#000000;">Rance Jeno Pineda</h4>
    <div id="jeno-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Home Address: Moraz Dela Paz Sto. Tomas Pampanga</p>
    </div>
    <div id="jeno-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">E-mail: rance.jeno16@gmail.com</p>
    </div>
    <button id="jeno-button5" class="button button-positive button-block">Back</button>
  </ion-content>
</ion-view>