<ion-view title="Lois" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/2t7sk3yPS8KLsDkgG31g_lois.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="lois-heading8" style="color:#000000;text-align:center;">Details</h3>
    <h4 id="lois-heading9" style="color:#000000;">John Lois Pamintuan</h4>
    <div id="lois-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Home Address: Bulaon Resettlement</p>
    </div>
    <div id="lois-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">E-mail: loispamintuan@gmail.com</p>
    </div>
    <button id="lois-button4" class="button button-positive button-block">Back</button>
  </ion-content>
</ion-view>